*.pyc
*.log
*.pot
*.my_notes.txt
__pycache__/
db.sqlite3
sqlite.db
migrations
**/migrations/00*
.idea/
*.txt
*.zip
*.xls
*.xlsx
celerybeat-schedule
celerybeat.pid
*.env
*.DS_Store
pip
*.json
media
static/assets/pdf/*
venv/
.venv/